
.fd-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  column-gap: 22px;
}
.fd-details p {
  color: rgba(77, 77, 77, 0.75);
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.fd-details::after {
  content: "";
  height: 1px;
  width: 371px;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -13.5px;
  opacity: 0.7;
}
.fd-details:last-child:after {
  display: none;
}
.fd-img {
  display: flex;
  font-display: row;
  column-gap: 14px;
  border-radius: 100%;
  align-items: center;
}

.fd-img img {
  height: 54px;
  width: 52px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.fd_info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.fd_info h6 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.fd_info p {
  color: rgba(77, 77, 77, 0.75);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}


