.sidebar{
  height: auto;
  width: 186px;
  display: flex;
  flex-direction: column;
  row-gap: 78px;
  align-items: center;
  background-color: #5F35F5;
  border-radius: 20px;
  padding-top: 24px;
  padding-bottom: 61.93px;
}

.routes{
  display: flex;
  flex-direction: column;
  row-gap: 57px;
}

.img-wrapper{
  height: 115px;
  width: 115px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.img-wrapper img{
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;


}
.routes li{
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routes li:nth-child(5){
margin-top: 115px;
}

.active-route {
  background-color: #fff;
  position: relative;
  height: 80px;
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.active-route::after {
content: "";
position: absolute;
height:100% ;
width: 10px;
background-color: #5F35F5;
right: 0;
border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
}


.icons{
  height: 46px;
  width: 46px;
  color: #FFFFFF;
  opacity: 0.7;

}

.active-icon{
  height: 43px;
  width: 43px;
  color: #5F35F5;
  opacity: 0.7;


}